/* $bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* @include respond(big-desktop) {
    font-size: 75%;
  } */
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

/* ::selection {
  background-color: $color-primary;
  color: $color-white;
} */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  color: #bfa169;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 75em) {
  .heading-primary {
    letter-spacing: 1.2px;
  }
}
.heading-primary--parabens {
  font-size: 8rem;
  letter-spacing: -2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, #bfa169), to(#8c6c30));
  background-image: linear-gradient(to right, #bfa169 15%, #8c6c30);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 48.125em) {
  .heading-primary--parabens {
    font-size: 6rem;
  }
}

.heading-secondary {
  color: #0a3873;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6rem;
  letter-spacing: -1.5px;
}
@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 3.2rem;
    letter-spacing: -1px;
  }
}
.heading-secondary--hero {
  color: #bfa169;
  font-size: 3.6rem;
  letter-spacing: -1px;
}
@media only screen and (max-width: 75em) {
  .heading-secondary--hero {
    font-size: 3rem;
    letter-spacing: -0.5px;
  }
}
.heading-secondary--quem {
  color: #705626;
}
.heading-secondary--parabens {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary--parabens {
    letter-spacing: 0.8px;
    font-size: 1.8rem;
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  color: #bfa169;
}
.heading-tertiary--hero {
  color: #fff;
  font-size: 2rem;
}
@media only screen and (max-width: 75em) {
  .heading-tertiary--hero {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}
.heading-tertiary--quem {
  color: #f3e5c2;
}

.heading-quaternary {
  font-size: 9.6rem;
  text-transform: uppercase;
  color: #ddd;
  line-height: 1;
}

.paragraph {
  font-size: 1.8rem;
}
.paragraph--cta {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: #bfa169;
  letter-spacing: 0.6px;
}
@media only screen and (max-width: 75em) {
  .paragraph--cta {
    font-size: 1.8rem;
  }
}
.paragraph--evento {
  text-align: center;
  font-size: 2rem;
}
@media only screen and (max-width: 75em) {
  .paragraph--evento {
    font-size: 1.8rem;
  }
}
.paragraph--vagas {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.link,
.link:link,
.link:visited {
  color: #bfa169;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #0b438c;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 75em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 75em) {
  .u-margin-bottom-big {
    margin-bottom: 6rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.container {
  max-width: 130rem;
  padding: 6rem 2rem 6rem 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  -webkit-column-gap: 6.4rem;
     -moz-column-gap: 6.4rem;
          column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid--center-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.section-hero {
  background-image: url("../../img/cidade-3.jpg");
  background-position: center;
  height: 100vh;
}/*# sourceMappingURL=main.css.map */