/* $bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  /* @include respond(big-desktop) {
    font-size: 75%;
  } */
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

/* ::selection {
  background-color: $color-primary;
  color: $color-white;
} */
body {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #000;
}

.heading-primary {
  color: #fff;
  font-weight: 200;
  font-size: 5.2rem;
  line-height: 1;
  letter-spacing: -2px;
  padding-bottom: 2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.heading-tertiary {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
}
.heading-tertiary-equipe {
  font-size: 2.4rem;
}

.span {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 300;
}

p {
  padding-bottom: 1rem;
}

.u-center-text {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  background-color: #0a3873;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.12);
}
.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  background-color: #0b438c;
}
.btn:active, .btn:focus {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  color: #fff;
  border-bottom: solid 2px #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: solid 2px rgba(255, 255, 255, 0);
}

.img-equipe {
  width: 100%;
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
}

.footer {
  width: 130rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  font-size: 1.6rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.icon {
  font-size: 2.8rem;
  padding: 1.6rem;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon:hover,
.icon:active {
  color: #fff;
}

.container {
  max-width: 130rem;
  padding: 12rem 4rem 12rem 4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  -webkit-column-gap: 6.4rem;
     -moz-column-gap: 6.4rem;
          column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols-produtos {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
.grid--produtos {
  display: grid;
  row-gap: 4rem;
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid--center-h {
  justify-items: center;
}

.header {
  position: absolute;
  left: 4rem;
  right: 4rem;
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0b438c;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

.section-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.3))), url("../../img/cidade-2.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 10%, rgba(0, 0, 0, 0.3)), url("../../img/cidade-2.jpg");
  background-position: center;
  height: 80vh;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hero {
  max-width: 100rem;
  padding-bottom: 4rem;
}

.section-produtos {
  background-color: #e7e7da;
}

.produtos {
  text-align: center;
  width: 100rem;
}

.img-produtos {
  width: 100%;
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
}

.number {
  font-weight: 400;
  font-size: 3.2rem;
  padding: 1rem 2.6rem;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
}

.img-sobre {
  -o-object-fit: cover;
     object-fit: cover;
  width: 600px;
  height: 500px;
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
}

.img-div {
  text-align: center;
}/*# sourceMappingURL=main.css.map */