/* $bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  /* @include respond(big-desktop) {
    font-size: 75%;
  } */
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

/* ::selection {
  background-color: $color-primary;
  color: $color-white;
} */
body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #333;
}

.heading-primary {
  color: #fff;
  font-weight: 200;
  font-size: 5.2rem;
  line-height: 1;
  letter-spacing: -2px;
  padding-bottom: 2rem;
}

.heading-secondary {
  color: #0a3873;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6rem;
  letter-spacing: -1.5px;
}

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  color: #bfa169;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 75em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 75em) {
  .u-margin-bottom-big {
    margin-bottom: 6rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  background-color: #0a3873;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.12);
}
.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  background-color: #0b438c;
}
.btn:active, .btn:focus {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.link,
.link:link,
.link:visited {
  padding-bottom: 0.5rem;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 2px #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #0b438c;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
}

.container {
  max-width: 130rem;
  padding: 6rem 4rem 6rem 4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  -webkit-column-gap: 6.4rem;
     -moz-column-gap: 6.4rem;
          column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid--center-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  position: absolute;
  left: 4rem;
  right: 4rem;
  top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0b438c;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

.section-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0))), url("../../img/cidade-2.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 10%, rgba(0, 0, 0, 0)), url("../../img/cidade-2.jpg");
  background-position: center;
  height: 75vh;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.hero {
  max-width: 100rem;
}/*# sourceMappingURL=main.css.map */