// COLORS
$color-primary: #0b438c;
$color-primary-light: #e7e7da;
$color-primary-dark: #0a3873;

$color-secondary: #bfa169;
$color-secondary-light: #f3e5c2;
$color-secondary-dark: #8c6c30;
$color-secondary-darkest: #705626;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #ddd;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.8rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$shadow-dark: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
$shadow-light: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.12);
