.container {
  max-width: 130rem;
  padding: 12rem 4rem 12rem 4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-cols-produtos {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    column-gap: 4rem;
  }

  &--produtos {
    display: grid;
    row-gap: 4rem;
  }

  &--3-cols-equipe {
    grid-template-columns: repeat(3, 1fr);
  }

  &--center-v {
    align-items: center;
  }

  &--center-h {
    justify-items: center;
  }
}
