.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
    left: 0;
    right: 0;
    top: 0;
  }
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  height: 10rem;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo {
  height: 11rem;
}

.logo,
.main-nav {
  padding: 1rem 4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;

  @include respond(tab-port) {
    flex-direction: column;
    gap: 4rem;
  }
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;

  transition: all 0.3s;

  @include respond(tab-port) {
    font-size: 2.4rem;
  }
}

.main-nav-link:hover,
.main-nav-link:active {
  color: $color-primary;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  @include respond(tab-port) {
    padding: 2rem 4rem;
  }
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-white;
}

.icon-mobile-nav[name="close"] {
  display: none;
}

////////////////////////////////////////////////////////////////
.btn-mobile-nav {
  @include respond(tab-port) {
    display: block;
    z-index: 9999;
  }
}

.main-nav {
  @include respond(tab-port) {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;
    visibility: hidden;
  }
}

.nav-open .main-nav {
  @include respond(tab-port) {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}

.nav-open .icon-mobile-nav[name="close"] {
  @include respond(tab-port) {
    display: block;
  }
}

.nav-open .icon-mobile-nav[name="menu"] {
  @include respond(tab-port) {
    display: none;
  }
}
