.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55) 10%,
      rgba(0, 0, 0, 0.3)
    ),
    url("../../img/cidade-2.jpg");
  background-position: center;
  height: 80vh;

  display: grid;
  align-items: end;
  justify-content: start;
}

.hero {
  max-width: 100rem;
  padding-bottom: 4rem;
}
