.section-produtos {
  background-color: $color-primary-light;
}

.produtos {
  text-align: center;
  width: 100rem;
}

.img-produtos {
  width: 100%;
}

.number {
  font-weight: 400;
  font-size: 3.2rem;
  padding: 1rem 2.6rem;
  border-radius: 50px;
  background-color: $color-black;
  color: $color-white;
}
