body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark-3;
}

.heading-primary {
  color: $color-white;
  font-weight: 200;
  font-size: 5.2rem;
  line-height: 1;
  letter-spacing: -2px;
  padding-bottom: 2rem;
}

.heading-secondary {
  color: $color-primary-dark;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6rem;
  letter-spacing: -1.5px;
}

.heading-tertiary {
  font-size: $default-font-size;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  color: $color-secondary;
}
