body {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  color: $color-white;
  font-weight: 200;
  font-size: 5.2rem;
  line-height: 1;
  letter-spacing: -2px;
  padding-bottom: 2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.heading-tertiary {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;

  &-equipe {
    font-size: 2.4rem;
  }
}

.span {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 300;
}

p {
  padding-bottom: 1rem;
}
